<!DOCTYPE html>
<html>
<head>

    <title>
        Decision Tree Classifier
    </title>

    <link rel="stylesheet" type="text/css" href="css/loginstyle.css" />

</head>
<body>
    <form method="post">

        <div class="container">
            <label>
                <b>Red:</b>
            </label>
            <input type="text" class="fields" placeholder="Enter red content" name="red" />
        </div>

        <div class="container">
            <label>
                <b>Green:</b>
            </label>

            <input type="text" class="fields" placeholder="Enter green content" name="green" />
        </div>

        

        <div class="container">
            <label>
                <b>Blue:</b>
            </label>

            <input type="text" class="fields" placeholder="Enter blue content" name="blue" />
        </div>

        <div class="container">
            <button type="submit" class="form-field-no-caption">Predict the color nuance</button>
        </div>

    </form>

</body>

</html>
