<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Perceptron Classifier</title>
    <link rel="stylesheet" type="text/css" href="css/addstyle.css" />

</head>
<body>
    <div>
        <h2>Simple Binary Classifiers with Perceptron</h2>
    </div>

    <table class="center">
        <tr>

            <td> <a href="/and_gate">AND Gate Example</a> </td>
        </tr>
        <tr>

            <td><a href="/results">Linear Classifier</a></td>
        </tr>
        <tr>
            <td><a href="/function_classifier">Function Classifier</a></td>
        </tr>
        

    </table>
     <table class="center">
        <tr>

            <td> <a href="/and_gate">AND Gate Example</a> </td>
        </tr>
        <tr>

            <td><a href="/results">Linear Classifier</a></td>
        </tr>
        <tr>
            <td><a href="/function_classifier">Function Classifier</a></td>
        </tr>
        

    </table>
</body>
</html>