<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Some Classifier </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

</head>
<body>
  
                            min: -2,
                            stepSize: 5
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Y axis label'
                        }
                    }]
                }
            }
        });


    </script>

</body>
</html>